@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Wix Madefor Text", sans-serif;
    color: rgb(249,247,243);
    background-attachment: fixed;
    background-image: url("./img/playa2.jpg");
    background-size: cover;
    width: 100vw;
}
/*/main/*/
.main{
    height: 85vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(110, 108, 108, 0.4);
}
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo h1{
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 50px;
    animation: aparecer 2.5s;
    animation-delay: 1s;
}
.titulo h3{
    font-size: 30px;
    animation: aparecer 4s;
    animation-delay: 2s;
    color: #E4BB68;
}

.time{
    display: flex;
    justify-content: space-evenly;
    width: 95vw;
}
.clock{
    padding: 0 10px;
    font-size: 30px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.digit{
    color:#E4BB68;
}

/*/saludo/*/
.saludo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 30vh;
    background-color: rgba(110, 108, 108, 0.4);
    padding: 20px 0px;
}
.saludo h3 {
    font-size: 30px;
    font-weight: 800;
    margin: 0;
}
.saludo p {
    font-size: 20px;
    font-weight: 500;
    width: 80vw;
    text-align: center;
}
/*/formulario/*/
.formC{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding:40px 0;
    margin: 0;
    align-items: center;
    background-color: rgba(249,247,243,0.8);
    width: 100vw;
    color: #6b705c;
}

.formC input{
    margin: 10px;
    padding: 10px 5px;
    border-style: none;
    border-radius: 10px;
    font-weight: 400;
    text-decoration: none;
    background:rgba(249,247,243);
    font-size: 15px;
    width: 300px;
    
}
.formC label{
    margin:0 10px;
    padding: 10px;
    font-size: 20px;
}
.formC button{
    border-style: none;
    align-self: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: #f0efeb;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    color: #6b705c;
    
}
.label input {
    width: 20px;
}
.label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    width: 300px;
    
}
.label label{
    font-size: 15px;

}
/*/ubicacion/*/
.ubicacion{
    margin: 0;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgba(249,247,243,0.8);
    width: 100vw;
    height: 60vh;
}
.ubicacion button{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    border: none;
    border-radius: 10px;
    padding:20px 30px ;
    margin: 40px;
    background-color: #f0efeb;
    cursor: pointer;
}
.ubicacion a{
    text-decoration: none;
    color: #6b705c;
    font-size: 20px;
    font-weight: 600;
}
.ubicacion h3{
    font-weight: 800;
    font-size: 30px;
    color: #6b705c;
    padding-top: 0;
    margin: 10px;
}
.ubicacion p{
    color:#6b705c;
    font-weight: 700;
}
img{
    width: 50px;
    height: 50px;

}
.img{
    border-radius: 20px;
    padding: 40px 20px;
    background-image: url("img/shanty.jpg");
    background-size:cover;
    background-position: center;
    width: 200px;
    height: 100px;
}

/*/dresscode/*/
.dresscode{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(110, 108, 108, 0.4);
    width: 100vw;
}
.dresscode h3{
    font-weight: 800;
    font-size: 30px;
    padding-top: 0;
    margin: 0;
    padding: 10px;
}
.dresscode p{
    margin: 0;
    padding: 10px;
    font-weight: 700;
    font-size: 25px;
    color: #E4BB68;
}
.gift{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 40px;
    margin-bottom: 100px;
    background-color: rgba(110, 108, 108, 0.4);
}
.gift p{
    margin: 0;
    padding: 10px;
    font-weight: 700;
    font-size: 25px;
}
.cbuContainer{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: #f0efeb;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    border: none;
    border-radius: 10px;
    padding:20px 50px ;
    margin: 40px;
    color: #6b705c;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
#CBU{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
   
}
