@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

@keyframes titulo {
    0%{
        transform: translateY(-200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDDEA4;
    font-family: "Wix Madefor Text", sans-serif;
    color: #6b705c;;
}
/*/main/*/
.main{
    height: 100vh;
    width: 100vw;
    color: #F9F7F3;
    background-image: url("./img/playa.jpg");
    background-size: cover;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-around;
}
.main h1{
    margin-bottom: 0;
    font-weight: 800;
    font-size: 50px;
    animation: titulo 2.5s;
    animation-delay: 1s;
}
.main h3{
    margin-top: 20px;
    font-size: 30px;
    animation: aparecer 4s;
}
/*/formulario/*/
.formC{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding: 60px;
    align-items: start;
    background-color: #F9F7F3;
}

.formC input{
    margin: 10px;
    border-style: none;
    font-weight: 400;
    color: #6b705c;
    text-decoration: none;
    background: #F9F7F3;
    font-size: 15px;
}
.formC label{
    margin: 10px;
    font-size: 20px;
}
.formC button{
    border-style: none;
    
}
.label{
    display: flex;
    flex-direction: row;
    font-size: 10px;
}
.label label{
    font-size: 15px;
}